@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template.cshtml";
}

@foreach(var item in FreeRoo.TemplateDataHelper.GetIndexArticles())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="@string.Format("{0}/{1}.html",@item.ACategoryName,@item.AName)">@item.ATitle</a>
            </h3>
        </div>

        <div class="panel-body">
            @FreeRoo.StringHelper.SubString(FreeRoo.StringHelper.RemoveHtmlTag(item.AContent), 0, 150);
        </div>
    </div>
}


