@{
    ViewBag.Title = "管理栏目";
    Layout = "~/Views/Admin/Admin.cshtml";
}

    <div class="container">
        <form role="form" action="/CategoryEditor/DoUpdate.do" method="post">
            <div>
                <ul class="list-group">
                    @foreach (var Item in FreeRoo.TemplateDataHelper.GetCategories())
                    {
                        <li class="list-group-item">
                            <span class="badge"><a href="/CategoryEditor/Update.do?categoryName=@Item.CategoryName">编辑</a></span>
                            <span class="badge"><a href="/CategoryEditor/Delete.do?categoryName=@Item.CategoryName">删除</a></span>
                            <a href="/CategoryEditor/Update.do?categoryName=@Item.CategoryName">@Item.CTitle</a>
                        </li>
                    }
                </ul>
            </div>

        </form>
    </div>
