<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/public/editor.md/css/editormd.css" />
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">lujiejie</a>
            </div>
            <div>
                <button id="save" type="button" class="btn btn-default navbar-btn pull-right">
                    Save
                </button>
            </div>
        </div>
    </nav>
    <div class="container">
        <form role="form" id="editor-form">
            <div class="form-group">
                <label for="title">ID</label>
                <input type="text" name="ID" id="title" class="form-control" value="{id}" />
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input type="text" name="Slug" id="slug" class="form-control" value="{slug}" />
            </div>
            <div id="article-editormd">
                <textarea style="display:none;" name="Content">{content}</textarea>
            </div>
        </form>
    </div>
    <script src="/public/editor.md/editormd.min.js"></script>
    <script type="text/javascript">
    var post_url = "{post_url}";
    $("#save").click(function() {
        var post = $("#editor-form").serialize();
        $.post(post_url, post, function(data) {
            alert("Saved !");
        });
    });
    var editor;

    $(function() {
        editor = editormd("article-editormd", {
            // width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/public/editor.md/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
    </script>
</body>

</html>
